<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.user.dao.ext.StartUserExtMapper" >

    <select id="getUserInfo" parameterType="java.lang.Long" resultType="com.example.api.entity.StartUserInfo">
            select t.user_id userId,t.user_name name,f.user_fee userFee
            from t_user t inner join start_user_fee_info f on t.user_id = f.user_id
            where t.user_id = #{userId}
    </select>

</mapper>